/* Styles for the entire website */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f1f1f1;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plant-info,
.car-info,
.laptop-info {
  margin-bottom: 30px;
}

.plant-info img,
.car-info img,
.laptop-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.plant-info h3,
.car-info h3,
.laptop-info h3 {
  margin: 10px 0;
}

.plant-info p,
.car-info p,
.laptop-info p {
  line-height: 1.5;
}
